.mdl-layout__header {
    background-color: rgb(103, 79, 87) !important;

}
.mdl-layout__tab-bar {
    background-color: rgb(115, 88, 97) !important;
}
.page-content{
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    padding-top:10px;
}